body {
  margin: 0;
  padding: 0;
  background-color: #13212a;
  box-sizing: border-box;
}
.site-display {
  height: auto;
  width: var(--site-width);
  margin: 0 auto;
  margin-top: 50px;
}

:root {
  --site-width: 1000px;
  --search-pos: calc(50% - 500px);
  --box-width: 190px;
  --box-height: 300px;
  --box-height-reverse: -260px;
}

.site-header-con {
  height: 70px;
  width: 100%;
  background-color: rgba(15, 25, 32, 0.4);
  box-shadow: 0 -9px 10px rgb(200, 200, 200);
  position: fixed;
  top: 0px;
  z-index: 1000;
  transition: height 1s ease-in-out, background-color 0.5s ease-out;
  overflow: hidden;
}
.site-header {
  width: var(--site-width);
  height: 70px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.site-name {
  height: 50px;
  width: 200px;
  margin-top: 10px;
  background: none;
  font-size: 40px;
  box-sizing: border-box;
}
.header-right-con {
  height: 50px;
  margin-top: 10px;
  width: auto;
  display: flex;
}
.header-buttons {
  font-family: sans-serif;
  width: auto;
  font-size: 20px;
  margin: 15px;
  color: #f1f2f6;
  line-height: 20px;
  outline: inherit;
  text-decoration: inherit;
  transition: color 0.2s ease-in-out;
  text-shadow: 0 0 3px black;
}
.header-buttons:hover {
  color: #ea2027;
}
.call-search,
.call-profile {
  font-size: 20px;
  color: #f1f2f6;
  margin: 15px;
  line-height: 20px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  text-shadow: 0 0 3px black;
}

.mobile-ver-close-but {
  height: 30px;
  color: #f1f2f6;
  text-shadow: 0 0 3px black;
  font-size: 30px;
  text-align: center;
  width: 30px;
  background: none;
  margin-top: 20px;
  display: none;
  cursor: pointer;
}
.mobile-ver-close-but i {
  line-height: 30px;
}

.call-search:hover,
.call-profile:hover {
  color: #ea2027;
}

.search-con {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 80px;
  right: var(--search-pos);
  height: 45px;
  width: 245px;
  justify-content: space-between;
}

.search-input {
  box-sizing: border-box;
  padding: 15px;
  padding-right: 0;
  height: 45px;
  width: 200px;
  outline: none;
  font-size: 15px;
  background-color: rgb(15, 25, 32, 0.5);
  border: 0px;
  color: white;
}

.search-con .fa-search {
  background-color: rgb(15, 25, 32, 0.5);
  color: rgb(221, 221, 221);
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 500px;
  user-select: none;
  background-color: #0f1920;
}

.swiper-slide {
  display: flex;
  background-color: black;
  overflow: visible;
  position: relative;
}

.swiper-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.7;
}

.slide-poster-items {
  height: auto;
  width: auto;
  background: none;
  position: absolute;
  top: 53%;
  left: var(--search-pos);
  display: block;
}

.poster-link {
  outline: none;
  text-decoration: none;
  display: flex;
  width: auto;
}

.slide-movie-name {
  margin: 0;
  color: #f5ecec;
  text-shadow: 0 0 2px black;
  font-family: monospace;
  font-size: 40px;
  width: auto;
  transition: color 0.1s ease-out;
}

.slide-movie-name:hover {
  color: #e3233e;
  text-shadow: 0 0 0;
}

.slide-poster-items span {
  font-weight: 700;
  color: #d6d4d4;
  text-shadow: 0 0 1px black;
}

.watch-movie {
  box-sizing: border-box;
  height: 40px;
  width: 150px;
  display: flex;
  color: #e3233e;
  border: 2px solid #e3233e;
  text-decoration: none;
  font-size: 25px;
  margin-top: 10px;
  transition: 0.1s ease-out;
}

.watch-movie div {
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 36px;
  font-family: monospace;
}

.watch-movie:hover {
  color: aliceblue;
  background-color: #e3233e;
}

.episode-box-con {
  width: 100%;
  height: 350px;
}

.new-movie-con {
  width: 100%;
  height: 350px;
  margin-top: 50px;
}

.ep-box-title {
  font-family: monospace;
  height: 40px;
  display: flex;
}

.ep-box-title i {
  font-size: 30px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  color: aliceblue;
  margin-right: 10px;
}

.ep-box-title a {
  height: 40px;
  line-height: 40px;
  font-family: monospace;
  text-decoration: none;
  outline: none;
  color: aliceblue;
  transition: color 0.15s ease-in-out;
  font-size: 25px;
}

.ep-box-title a:hover {
  color: #e3233e;
}

.episode-con {
  margin-top: 10px;
  height: var(--box-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.episode-box {
  height: var(--box-height);
  width: var(--box-width);
  background-color: black;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}

.episode-box img {
  height: 260px;
  width: var(--box-width);
  object-fit: cover;
  cursor: pointer;
}

.episode-box img:hover {
  opacity: 0.45;
}

.img-play-but {
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0;
  margin-left: 50%;
  margin-top: -95%;
  box-shadow: 0 0 10px 4px rgba(148, 148, 148, 0.5),
    inset 0 0 10px 6px rgba(192, 192, 192, 0.5);
  border-radius: 50%;
}

.episode-box-description-con {
  height: var(--box-height);
  width: var(--box-width);
  background: linear-gradient(to bottom, #49525c 10%, #606c79);
  margin-top: var(--box-height-reverse);
  transition: 0.5s;
  z-index: 20;
  position: relative;
}

.episode-box-description-con:hover {
  transition: 1s;
  transform: translateY(260px);
}

.episode-box-description-con p {
  box-sizing: border-box;
  color: aliceblue;
  font-size: 15px;
  line-height: 16px;
  font-family: sans-serif;
  height: 210px;
  text-align: justify;
  padding: 10px;
  margin: 0;
  overflow: hidden;
}

.years-imdb {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-shadow: 0 0 2px black;
  color: aliceblue;
  margin-bottom: 10px;
}

.years-imdb .years {
  font-size: 18px;
  height: 40px;
  width: 40px;
  line-height: 40px;
}

.years-imdb .imdb {
  font-size: 18px;
  line-height: 40px;
  display: flex;
}

.years-imdb .imdb i {
  font-size: 40px;
  line-height: 40px;
  margin: 0 10px;
}

.episode-title {
  height: 40px;
  margin: 0;
  padding: 0 10px;
  line-height: 40px;
  text-align: center;
  font-family: monospace;
  font-size: 18px;
  background-color: rgb(227, 35, 62);
  color: aliceblue;
  text-shadow: 0 0 2px black;
  box-shadow: 0 0 10px black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.movie-box-con {
  border-radius: 10px;
  border: 20px solid #134264;
  padding-top: 25px;
  margin-top: 60px;
  padding-bottom: 15px;
  margin-left: -20px;
  width: 100%;
  height: auto;
  background-color: #134264;
  /* #2980b9 */
}

.movie-countdown-con {
  height: 300px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(./images/CountDownPhoto/avenger.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 50px;
  margin-bottom: 100px;
  position: relative;
  user-select: none;
}

.movie-countdown {
  padding-top: 50px;
}

.timer-container {
  display: flex;
  width: 360px;
  justify-content: space-between;
  margin: 0 auto;
}

.timer-circle {
  box-sizing: border-box;
  height: 80px;
  width: 80px;
  border: 5px solid white;
  border-radius: 50%;
  text-align: center;
  color: white;
  box-shadow: 0 0 10px rgba(243, 243, 243, 0.8),
    inset 0 0 10px rgb(243, 243, 243, 0.8);
}

.timer-value {
  font-size: 25px;
  margin-top: 15px;
  font-family: monospace;
}

.timer-circle span {
  font-size: 15px;
  font-family: monospace;
}

.timer-title {
  font-size: 30px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: white;
  margin: 0;
  margin-top: 25px;
}

.timer-trailer-button {
  position: absolute;
  text-decoration: none;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 25px;
}

.timer-trailer-button div {
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  width: 130px;
  font-size: 30px;
  border: 3px solid white;
  border-radius: 0px;
}

.timer-trailer-button div:hover {
  background-color: white;
  color: black;
}

.cast-slide-container {
  width: 100%;
  margin-bottom: 100px;
  user-select: none;
  /* overflow: hidden; */
  position: relative;
}

.cast-left-but,
.cast-right-but {
  height: 50px;
  width: auto;
  position: absolute;
  z-index: 3;
  bottom: 70px;
  cursor: pointer;
}
.cast-left-but {
  left: -10px;
}

.cast-right-but {
  right: -10px;
}

.cast-left-but i,
.cast-right-but i {
  color: white;
  text-shadow: 0 0 10px rgb(243 243 243 / 80%);
  text-align: center;
  font-size: 50px;
  line-height: 50px;
}

.cast-slide-display {
  width: 100%;
  display: inline-flex;
  overflow: hidden;
  padding: 10px;
  transform: translateX(-10px);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}

.cast-slide {
  height: 170px;
  width: 150px;
  box-sizing: border-box;
  background-color: #1b2c36;
  border-radius: 5px;
  margin-right: 20px;
  transform: translateX(0);
  transition: transform 0.5s ease-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.cast-slide a {
  text-decoration: none;
}

.cast-img {
  margin: 10px;
  margin-bottom: 0;
  height: 120px;
  width: 130px;
  object-fit: cover;
  border-radius: 5px;
}
.cast-name {
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  padding: 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  color: rgb(219, 219, 219);
}

.site-footer-con {
  height: auto;
  width: 100%;
  background-color: #0f1920;
  display: flex;
  justify-content: center;
  box-shadow: 0 9px 10px rgb(200, 200, 200);
  padding: 20px 0;
}

.site-footer {
  width: auto;
  background-color: #13212a;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.1);
}

.site-author,
.site-gmail {
  height: 20px;
  font-size: 15px;
  line-height: 20px;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: space-between;
  color: rgb(155, 155, 155);
  margin-bottom: 5px;
}

.site-author a,
.site-gmail a {
  line-height: 20px;
  margin-left: 20px;
  text-decoration: none;
  color: aliceblue;
}
.site-author a:hover,
.site-gmail a:hover {
  color: #e3233e;
}

.site-gmail i {
  font-size: 20px;
  line-height: 20px;
  margin-right: 5px;
}

.site-born {
  height: 20px;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: white;
}

@media (max-width: 1100px) {
  :root {
    --site-width: 900px;
    --search-pos: calc(50% - 450px);
    --box-height: 250px;
    --box-height-reverse: 220px;
    --box-width: 170px;
  }

  .episode-box {
    width: 170px;
    height: 250px;
  }

  .episode-box img {
    height: 220px;
  }

  .episode-box-description-con {
    margin-top: -220px;
  }
  .episode-box-description-con:hover {
    transition: transform 1s;
    transform: translateY(220px);
  }

  .episode-box-description-con p {
    font-size: 13px;
    line-height: 13.5px;
    height: 180px;
  }
  .years-imdb {
    height: 30px;
  }

  .years-imdb .imdb {
    line-height: 30px;
    font-size: 15px;
  }

  .years-imdb .imdb i {
    font-size: 30px;
    line-height: 30px;
  }

  .years-imdb .years {
    font-size: 15px;
    height: 30px;
    line-height: 30px;
  }
  .episode-title {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
  }

  .movie-box-con {
    height: auto;
  }
}

/* mobile version */

@media (max-width: 990px) {
  :root {
    --site-width: calc(100% - 80px);
    --search-pos: 40px;
  }
  .site-name-link {
    margin-left: 20px;
    height: 50px;
    margin-top: 10px;
  }
  .site-name {
    margin: 0;
    width: 50px;
    cursor: pointer;
  }

  .episode-box-con,
  .new-movie-con {
    height: auto;
  }
  .movie-box-con {
    height: auto;
  }

  .movie-box-con .episode-box {
    height: 240px;
    box-shadow: 0px 0px 4px black;
    border: 10px solid transparent;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .episode-con {
    height: auto;
    display: block;
  }

  .episode-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    height: 220px;
    background: none;
    border-radius: 0;
    margin-bottom: 20px;
  }

  .episode-box img {
    border-radius: 5px;
  }

  .episode-box > a {
    background-color: black;
    border-radius: 5px;
    width: 170px;
  }
  .img-play-but {
    margin-top: -88%;
  }

  .episode-box-description-con {
    margin: 0;
    width: 100%;
    height: 220px;
    display: block;
    background: none;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    margin-left: 10px;
  }

  .episode-title {
    box-shadow: none;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .episode-box-description-con p {
    height: 140px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 16px;
    line-height: 18px;
  }
  .episode-box-description-con:hover {
    transform: none;
  }

  .mobile-ver-close-but {
    display: block;
  }

  /* header buttons display */

  .active-header-con {
    height: 100vh;
    background-color: rgba(15, 25, 32, 1) !important;
  }
  .header-right-con {
    display: none;
  }

  .active-header {
    margin: 0;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    height: auto;
    display: grid;
    grid-gap: 10px;
    box-sizing: border-box;
  }

  .active-header .header-buttons {
    text-align: center;
    margin: 0 auto;
    width: auto;
    box-sizing: border-box;
    height: auto;
    line-height: 40px;
    padding: 0 10px;
  }
  .active-header .call-search,
  .call-profile {
    background-color: #49525c;
    text-align: center;
    margin: 0;
    height: 40px;
  }
  .active-header .call-search i,
  .call-profile i {
    line-height: 40px;
  }

  .active-header .call-search {
    display: none;
  }
  .active-header .call-profile {
    margin: 0 auto;
    width: 40px;
  }

  .search-con {
    margin: 0 auto;
    position: initial;
    top: 400px;
    display: flex !important;
    box-shadow: inset 0 0 3px white;
  }

  .swiper {
    height: 45vw;
    margin-top: 90px;
  }
  .site-header-con {
    background-color: rgba(15, 25, 32, 1) !important;
  }
}

@media (max-width: 800px) {
  :root {
    --site-width: calc(100% - 50px);
    --search-pos: 40px;
  }

  .slide-poster-items {
    top: auto;
    bottom: 40px;
  }

  .slide-movie-name {
    font-size: 30px;
  }
  .watch-movie {
    display: none;
  }
}

@media (max-width: 600px) {
  .slide-poster-items span {
    display: none;
  }
  .slide-movie-name {
    font-size: 20px;
  }
  .slide-poster-items {
    bottom: 25px;
  }
}

@media (max-width: 500px) {
  .site-name {
    height: 40px;
    width: 40px;
  }

  .site-name-link {
    height: 40px;
    margin-top: 15px;
    margin-left: 10px;
  }

  .ep-box-title {
    height: auto;
  }
  .ep-box-title i {
    font-size: 20px;
    margin: 0;
  }
  .ep-box-title a {
    font-size: 20px;
  }

  .episode-box {
    height: auto;
    margin-bottom: 10px;
  }
  .episode-box > a {
    width: 130px;
  }
  .img-play-but {
    margin-top: -97%;
  }
  .movie-box-con .episode-box {
    height: auto;
    margin-bottom: 10px;
  }
  .episode-box img {
    height: 180px;
    width: 130px;
  }

  .episode-title {
    height: 24.6px;
    line-height: 24.6px;
    font-size: 14.75px;
  }
  .episode-box-description-con {
    height: 180px;
  }
  .episode-box-description-con p {
    padding: 2px;
    margin-top: 24.6px;
    margin-bottom: 3px;
    height: 114.8px;
    font-size: 13px;
    line-height: 16px;
  }

  .years-imdb {
    margin: 0;
    height: auto;
  }

  .years-imdb .imdb i {
    margin: 0;
    margin-right: 5px;
    margin-left: 2px;
    font-size: 25px;
    line-height: 25px;
  }

  .years-imdb .imdb div {
    font-size: 13px;
    line-height: 25px;
  }

  .years-imdb .years {
    height: auto;
    line-height: 25px;
    font-size: 13px;
    text-align: center;
  }

  .movie-countdown-con {
    height: 250px;
  }
  .movie-countdown {
    padding-top: 40px;
  }

  .timer-container {
    width: 310px;
  }

  .timer-circle {
    border: 4px solid white;
    height: 70px;
    width: 70px;
  }

  .timer-value {
    font-size: 20px;
  }
  .timer-circle span {
    font-size: 12.5px;
  }

  .timer-title {
    font-size: 24px;
  }

  .timer-trailer-button div {
    height: 40px;
    width: 120px;
    line-height: 40px;
  }

  .timer-trailer-button {
    margin-top: 15px;
  }
}

@media (max-width: 380px) {
  .timer-container {
    width: 280px;
  }

  .timer-circle {
    border: 4px solid white;
    height: 65px;
    width: 65px;
  }

  .timer-value {
    font-size: 20px;
  }
  .timer-circle span {
    font-size: 12.5px;
  }
  .timer-title {
    margin-top: 20px;
    font-size: 20px;
  }
}
